[Unit]
Description={{ description }}

[Service]
ExecStart={{ execStart }}
{% if execStop %}ExecStop={{ execStop }}{% endif %}
Type={{ type }}
Restart=on-failure
{% for env in environment.keys() %}
Environment={{ env }}={{ environment[env] }}
{% endfor %}

[Install]
WantedBy=default.target
